[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
boto3 = "*"
zappa = { git = "https://github.com/zappa/Zappa.git"}

[dev-packages]

[requires]
python_version = "3.8"
